.achievement_container{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 1px;
  margin: 20px 10px;
}
.achievement_container .card{
  width: 100%;
  padding: 20px;
  color: white;
  background: #0b5394;
  border-radius: 10px;
  /* transition: var(--transition); */
}
.achievement_container .card:hover{
background: #1268b3;
transform: scale(0.97);
}
.achievement_container .flex_center{
  display: flex;
}
.achievement_container .digit{
  font-size: 30px;
  font-weight: 600;
}
.achievement_container .title{
  font-size: 33px;
  font-weight: 700;
  margin: -1px -46px 10px 10px;
}
.achievement_container .muted_name{
  font-size: 20px;
}
.achievement_container .name{
  text-align: center;
  font-size: 0px;
}

/*responsive section*/

@media screen and (max-width: 768px) {
  .achievement_container{
    grid-template-columns: repeat(3,1fr);
  }
  .achievement_container .title{
    font-size: 20px;
    margin: 5px -46px 10px 6px;
  }
  .achievement_container .muted_name{
    font-size: 17px;
  }
  .achievement_container .digit{
    font-size: 25px;
  }
  .achievement_container .name{
    font-size: 12px;
  }
  .achievement_container .card{
    padding: 10px;
  }
}








 .odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
  transform:translateZ(0) ;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.1em;
}
.odometer.odometer-auto-theme .odometer-value, .odometer.odometer-theme-default .odometer-value {
  text-align: center;
} 

/* :global(.odometer) {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.1em;
  text-align: center;
}

:global(.odometer .odometer-digit) {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

:global(.odometer .odometer-digit-spacer) {
  display: inline-block;
  vertical-align: middle;
  visibility: hidden;
}

:global(.odometer .odometer-digit-inner) {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

:global(.odometer .odometer-ribbon) {
  display: block;
}

:global(.odometer .odometer-ribbon-inner) {
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

:global(.odometer .odometer-value) {
  display: block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

:global(.odometer .odometer-animating-up .odometer-ribbon-inner) {
  transition: transform 2s;
  transform: translateY(-100%);
}

:global(.odometer .odometer-animating-down .odometer-ribbon-inner) {
  transition: transform 2s;
  transform: translateY(0);
} */
