

.container {
  width: 100%;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.img_Container {
  display: flex;
  flex-direction: row; /* Image left, text right */
  align-items: center;
  justify-content: center;
  gap: 6rem;
  flex-wrap: wrap;
}

.img_Container img {
  width: 70%;
  max-width: 700px;
  height: auto;
  object-fit: cover;
  border-radius: 0.8rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.textContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: left;
}

.textContainer h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #0056b3;
  margin: 0;
}

.textContainer p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  margin: 0;
}
.textContainer h2{
  font-size: 1.5rem;
  font-weight: bold;
  color: #0f5a64f8;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.applyButton {
  padding: 8px 18px;
  background-color: #007bff;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  width: fit-content;
  transition: background-color 0.3s ease;
}

.applyButton:hover {
  background-color: #0056b3;
}
.textContainer2{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: left;

}
.textContainer2 h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0.5rem ;
  margin-top: 4rem;
  border-radius: 10px;
  width: 100%;
  background-color: #0056b3;
  text-align: center;
}


/* Tablet: 600px - 800px */
@media (min-width: 600px) and (max-width: 800px) {
  .img_Container {
    flex-direction: column;
    gap: 4rem;
  }

  .img_Container img,
  .textContainer {
    width: 100%;
    
  }

  .textContainer h1 {
    font-size: 2.7rem;
  }

  .textContainer p {
    font-size: 1.05rem;
  }
  .textContainer2 h1 {
    font-size: 2rem;
    padding: 0.5rem;
  }

  .textContainer2 {
    text-align: center;
    gap: 0.8rem;
  }
}

/* Mobile: 300px - 600px */
@media (min-width: 300px) and (max-width: 600px) {
  .img_Container {
    flex-direction: column;
    gap: 2rem;
  }

  .img_Container img,
  .textContainer {
    width: 100%;
  }

  .textContainer h1 {
    font-size: 2.5rem;
  }

  .textContainer p {
    font-size: 1rem;
  }

  .applyButton {
    font-size: 1rem;
    padding: 10px 20px;
  }
  .textContainer2 h1 {
    font-size: 1.6rem;
    padding: 0.4rem;
  }

  .textContainer2 {
    text-align: center;
    gap: 0.6rem;
  }
}
